@import url(nav.css);

body {
    padding: 0 20px;
}

/*nav*/


nav .container {
    display: flex;
    justify-content: space-between;
    /* separa izquierda y derecha */
    align-items: center;
    padding: 0 20px;
    color: rgb(36, 124, 172);

}

.icono01 {
    display: flex;
    gap: 6px;
    top: 10px;
}

nav ul {

    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: block;

}

nav ul li a {
    color: rgb(105, 104, 104);
    text-decoration: none;

    font-size: 20px;
    transition: all .3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*header*/

header {
    background-color: rgb(202, 196, 196);
    border-radius: 10px;
    padding: 20px 15px;
    text-align: center;
}

.buscador input {
    width: 450px;
    padding: 5px 15px;



}

.buscador .boton01 {
    padding: 5px 15px;
    background-color: rgb(0, 162, 255);
    color: white;
    cursor: pointer;
}



/*TABLA*/

.titulo02 {
    font-size: 18px;

    display: flex;
    gap: 8px;

}

table {
    width: 100%;
    border-collapse: collapse;


}

thead {
    background-color: #1d4ed8;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

th {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.aplicar {
    background-color: #22c55e;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

/*FOOTER*/
.container03 p {
    text-align: center;
    word-spacing: 2px;
    /* separa palabras */
    color: rgb(139, 137, 137);

}


/*ficha registro*/
nav .container04 a {
    text-decoration: none;
    color: rgb(0, 140, 255);
    display: flex;
    padding: 10px;

}

fieldset {
    width: 800px;

}


form .cuadro01 input {
    width: 700px;
    height: 25px;
}

form .cuadro02 input[type="text"] {
    width: 700px;
    height: 25px;
}

form .cuadro02 select {
    width: 700px;
    height: 35px;
}

form .parte01 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 140, 255);
    font-weight: bold;
}

form .parte02 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 140, 255);
    font-weight: bold;
}

.tecnologias label {
    display: inline-block;
    margin-right: 20px;
}

.tecnologias input {
    width: auto;
    height: auto;
    margin-right: 5px;
}

/*boton - guardar datos*/

.boton02 {
    background-color: #5b638e;
    color: rgb(248, 248, 248);
    width: 300px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;

    

}